		*{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
			outline: none;
		}
		body{
    		background-image: url('nen.jpg');
            position: relative;

    	}
        
    	header{
    		
    	}
    	header a{
    		font-weight: bold;
    	}
		.container {
			max-width:1100px;
		}
		
		.nav-top{
            background: #6b9876;;
            
		}
        .nav-top a{
            color: black;

        }
        .hover-effect a {
            padding: 10px;
            color: #237546;
            font-weight: 700;
            text-shadow: none;
            -webkit-transition: color 0.3s;
            -moz-transition: color 0.3s;
            transition: color 0.3s;
            font-family: 'Raleway', sans-serif;
        }
        .hover-effect a::before, .hover-effect a::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: opacity 0.3s, -moz-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        .hover-effect a::before {
            top: 0;
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        .hover-effect a::after {
            bottom: 0;
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            transform: translateY(10px);
        }

        .hover-effect a:hover, .hover-effect a:focus {
            color: #fff;
        }

        .hover-effect a:hover::before, .hover-effect a:focus::before, .hover-effect a:hover::after, .hover-effect a:focus::after {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }
		header nav img
		{
			max-width: 50px;
            animation: beat 1s ease infinite alternate;
		}
         @keyframes beat {
            from {  transform:scale(1); }
            to {    transform:scale(1.2); }
    }b
		#demo{
			margin: 0 auto;
		}
		.fixDisplay {
			padding: 20px 0;
			border-bottom: solid 1px #c0c0c0;
		}
		#ourifame{
			height: 1000px;
			background: #eee;
		}
        .row{
            margin-top: -10px;
        }
		aside { 
			    height: 1000px;
				float:right;
				overflow: auto;	
		
		}
		aside img{
			width: 90%;
			height: auto;

		}
		aside h3{
			margin-bottom: 0px;
			width: 100%;
			text-align: center;
			font-size: 20px;
			text-transform: uppercase;
		    background: #32CD32;
		    position: -webkit-sticky;
		    position: sticky;
		    top: 0px;
		    
		}
		aside table a{
			color: #ffc42e;
		}
		aside table a:hover{
			color: #17a2b8!important;
		}
		aside table  td h6{
			color: #3ee87e;

		}
		
		aside #sidebar {
				padding: 0.5em 1em;
				font-size: 85%;

		}
		 .carousel-inner img {
    		width: 100%;
          	height: 100%;
        }
 
 
        .footer-main-div{
        	width: 100%;
        	height: auto;
        	margin: auto;
            background: #272727;
        	padding: 20px 0px
        }
        .footer-social-icons{
        	width: 100%;
        	height: auto;
        	margin: auto;
        }
        
        .footer-social-icons ul{
        	margin: 0px;
        	padding: 0px;
        	text-align: center;
        }
        .footer-social-icons ul li{
        	display: inline-block;
        	width: 50px;
        	height: 50px;
        	margin: 10px;
        	border-radius: 100%;
        	background: #6b9876;
        }
        .footer-social-icons ul li:hover{
        	display: inline-block;
        	width: 50px;
        	height: 50px;
        	margin: 10px;
        	border-radius: 100%;
        	background: #155724;
        }
      
       
        .footer-social-icons ul li a{
        	color: #272727;
        	font-size: 25px;
        }
        .footer-social-icons ul li a i{
        	line-height: 51px;

        }
        .footer-menu-one{
        	width: 100%;
        	height: auto;
        	margin: auto;
        	margin-top: 25px;
        }
        .footer-menu-one ul{
        	margin: 0px;
        	padding: 0px;
        	text-align: center;
        }
        .footer-menu-one ul li{
        	display: inline-block;
        	margin: 0px 15px;
        }
        .footer-menu-one ul li a{
        	font-family: arial;
        	font-size:  20px;
        	font-weight: 600;
        	color: #fff;
        	text-transform: uppercase;
        }
        .footer-bottom{
        	width: 100%;
        	height: auto;
        	margin: auto;
        	background: #32CD32;
        	padding: 10px;
        	
        }
        .footer-bottom p{
        	font-family: arial;
        	font-size: 14px;
        	text-align: center;
        	color: #fff;
        	letter-spacing: 2px;
        }
        .footer-bottom p a{
        	color: #fff;
        }
        .footer-bottom p a:hover {
        	color: #272727;
        }
        footer {
        	width: 100%;
        	padding: 20px;
        	padding-bottom: 100px;
        	background: url('footer.jpg') no-repeat bottom center;
            background-size: cover;
            position: relative;
        }
        footer h4{
        	text-align: center;
        	margin:  0 0 10px;
        	color: #6b9876;
        }
        footer p{
        	margin: 0 0 10px;
        	text-align: left;
        	font-style: italic;
        	clear: both;
        }
        .footer-qinmoon{
        	border-top: 4px solid #efefef;
            padding-top: 30px;
            padding-bottom: 100px;
        }
        footer div a{
        	color: black;
        	text-align: left;
        	font-style: italic;
        	clear: both;
        }
         footer div a .icon-email{

        	width: 24px;
        	height: 16px;
        	margin: 5px;
		    display: inline-block;
         }
         footer div a .icon-phone{
         	margin:  10px;
         	margin-right: 10px;
         	width: 14px;
         	height: 24px;
         	display: inline-block;
         }
         footer div a .icon-location{
         	margin:  5px;
         	width: 24px;
         	height: 24px;
         	display: inline-block;
         }
         /* backtotop */
         #myBtn {
              display: none;
              position: fixed;
              bottom: 40px;
              right: 20px;
              z-index: 99;
              font-size: 18px;
              border: none;
              outline: none;
              background-color: #27ae60;
              color: white;
              cursor: pointer;
              padding: 15px;
              border-radius: 4px;
            }
         #myBtn:hover {
              background-color: #555;
            }

       